.mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    max-width: 15rem;
    width: 100%;
    margin: 4rem 0 2rem 0;
}

.listSection {
    max-width: 42rem;
    width: 100%;
    padding: 0 1rem;
}

.paginationsContainer {
    width: 25rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0.5rem 2rem 0.5rem;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 600px) {

    .paginationsContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
  }