.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listItem {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.searchSection {
    width: 100%;
}

.searchContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    margin-top: 1rem;
    border: solid 1px black;
    border-radius: 5px;
}

.searchLabel {
    width: 80%;
}

.searchInput {
    width: 100%;
    padding: 0.4rem;
    padding-bottom: 0.2rem;
    border: none;
    background-color: none;
    font-size: 1rem;
}

.searchSubmit {
    padding: 0 0.4rem;
}

.searchError {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.searchReset {
    display: flex;
    align-items: center;
}

.itemTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


